<div class="container-fluid text-body mt-2">
    <h3 class="text-center font-weight-bold pb-4">Create new Group</h3>
    
   <%= form_for @group, :url => account_profile_group_index_path(session[:current_user]) do |f|%>
    <div class="form-group">
    <%=f.text_field :name , class: 'w-25 mx-auto form-control',placeholder: 'enter the name', :required => true%>
    </div>
    <%if !flash[:msg].nil?%>
      <span class="alert alert-danger text-center"><%= flash[:msg] %></span>
    <%end%>
     <div class="form-group">
    <%= f.file_field :cover_pic,class: "w-25 mx-auto form-control", :required => true %>
    </div>
    <button type="submit" class="d-flex btn btn-primary mx-auto">Submit</button>
    <%end%>
  
</div>