<main class="container align-middle mt-lg-5 mt4 ">
    <div class="btm">
    <h3 class="pb-4 pt-3 text-center">Snapscan</h3>
    <a href="<%= login_user_index_path %>" class="btn btn-primary container">login</a><br>
    <a href="<%= new_user_path %>" class="btn btn-primary container mt-2">signup</a>
    </div>
</main>