/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: white!important;   
}
.side-nav {
    height: 100%;
    position: fixed!important;
}
a {
    color: #fff!important;
    text-decoration: none;
}
a:hover {
    text-decoration: none!important;
}
li:first-child {
    border-top: 2px black solid;
}
li {
    border-bottom: 2px black solid;
}
li a:hover {
    color: black!important;
}
.heigth-nav {
    height: 56px;
}
.hamburger {
    font-size: 20px;
}
.dr_pic {
    height: 30px;
    width: 30px;
}