// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    background-color: #9a9292!important;
}
main {
    background-color: blanchedalmond!important;
    min-height: 300px;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px!important;
}
.btm {
    bottom: 25%;
    position: fixed;
    width: 90%;
}
