// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.user{
	background-color: blue!important;
}

.user-main {
    background-color: #ffd000 !important;
    min-height: 300px;
    left: 38%;
    position: fixed;
    top: 20%;
    width: 300px !important;
}
