<div class="pt-3 container text-body">
    <h4 class="text-center pt-3 pb-2 font-weight-bold text-capitalize"><%= session[:user_name] %> Groups</h4>
    <table class="pt-3 table table-striped">
    <thead>
      <tr>
        <th>Transactions Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @tr.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td ><a href="<%= added_profile_path(:g_id => params[:id],:t_id => item.id) %>" class="text-body badge"><%= groupsmeb(params[:id],item.id) %></a></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>