<div class="container-fluid text-body mt-2">
    <h3 class="text-center font-weight-bold pb-4">Create Transaction</h3>
<form action="<%= profile_index_path %>" method="POST" class="w-50 mx-auto">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">
      <input name="name" type="text" class="form-control" required placeholder="Enter Name of transaction" id="name">
    </div>
    <div class="form-group">
      <input name="amount" type="number" class="form-control" required placeholder="Enter the amount" id="amount">
    </div>
    <%if !flash[:msg].nil?%>
    <span class="alert alert-danger text-center"><%=flash[:msg]%></span>
    <%end%>
    <br>
    <button type="submit" class="d-flex btn btn-primary mx-auto">Submit</button>

  </form>
</div>